{% extends "bootstrap/base.html" %}
{% block title %} Base Page {% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <span class="navbar-brand">Courser</span>
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                {% if g.user %}
                    <li class="nav-item"><span>{{ g.user['username'] }}</span></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                    <li><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
                    <li><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <h1>Hello Bootstrap</h1>
{% endblock %}
