{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        {% block header %}
            <h1>{% block title %} Log In {% endblock %}</h1>
        {% endblock %}
        <form class="form" method="post" role="form">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            <input class="btn btn-primary" type="submit" value="Log In"/>
        </form>
    </div>
{% endblock %}