{% extends "base.html" %}

{% block header %}
    <h1>
        {% block title %}
            {% if g.user %}
                {{ g.user['username'] }} Dashboard
            {% endif %}
        {% endblock %}
    </h1>
{% endblock %}
{% block content %}
    <section class="panel panel-default">
        <div class="panel-heading">Grades</div>
        <ul class="list-group">
            {% for item in session.grades %}
                <li class="list-group-item">{{ item }}</li>
            {% endfor %}
        </ul>
    </section>
{{ session.grades }}
{% endblock %}

