{% extends "base.html" %}

{% block header %}
    <h1>
        {% block title %}
            {% if g.user %}
                {{ g.user['username'] }}'s Dashboard
            {% endif %}
        {% endblock %}
    </h1>
{% endblock %}
{% block page_content %}
    <section class="panel panel-default">
        <div class="panel-heading"></div>
        {% if session.grades %}
        <ul class="list-group">
            {% for item in session.grades %}
                <li class="list-group-item">{{ item }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No grades found</p>
        {% endif %}

    </section>
{% endblock %}

